.example-card {
    width: 80%;
    height: 80%;
    position: relative;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.card-action-spacer {
    flex: 1 1 auto;
}

mat-card-actions button {
    margin-right: 1rem;
    bottom: 0;
}