<mat-toolbar color="accent">
    <mat-icon>code</mat-icon>
    <div>Framework Frontend Challenge</div>
    <span class="toolbar-spacer"></span>
    <button routerLink="/postagens" mat-icon-button matTooltip="Postagens">
        <mat-icon>chat</mat-icon>
    </button>
    <button routerLink="/albuns" class="example-icon" mat-icon-button matTooltip="Albuns">
        <mat-icon>collections</mat-icon>
    </button>
    <button routerLink="/todos" class="example-icon" mat-icon-button matTooltip="To-do's">
        <mat-icon>checklist</mat-icon>
    </button>
</mat-toolbar>